.container {
  padding: 36px;
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
}

.title {
  padding-bottom: 24px;
}

.table {
  padding-bottom: 12px;
}

.sort-icon {
  margin-left: 12px;
  cursor: pointer;
}

.th {
  text-transform: capitalize;
}

.table-row {
  width: 380px;
}

.filter {
  display: flex;
  column-gap: 36px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}